body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: black;
}

#root {
  background-color: black;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.test {
  background-color: black;
}

.jumbo-pic {
  height: 650px;
  background-size: cover;
  background-image: url("../src/assets/Jumbo.jpg");
}

.source-img {
  max-width: 50px;
}

.pointer {cursor: pointer;}

#search-bar {
  max-width: 1200px;
  height: 38.50px;
  bottom: 100px; 
  margin-left: 0;
  margin-left: 500px;
}

.search-btn {
  color:white !important;
  background-color: black !important;
  
}

.search-btn:hover {
background-color: grey !important;
color: white !important;
}

.logo {
  max-width: 850px;
  height: 850px;
  padding-bottom: 150px;
}

.flex {
  display: flex;
}

.flex * {
  flex: 1;
}

.center {
  justify-content: center;
}

.space-cards {
  row-gap: 20px;;
}

.footer {
  max-width: 200px;
}

.footer-color {
  background-color: black;
  color: white;
}

.card-div {
 height: 20px; 
}

.movie-card {
  height: 350px;
  width: 300px;
  cursor: pointer;
}

.zoom {

  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.25); 
  -webkit-transform: scale(1.25); 
  transform: scale(1.25); 
  z-index: 1;
}

.main {
  min-height: 1200px;
  background-color:black;
}

.details-movie-card {
  max-width: 650px;
  height: 1100px;
  margin-top: 50px;
}

.details-title {
  font-size: 50px;
  font-weight: bold;
  padding-top: 200px;
  margin-bottom: 0px;
}

.details-overview {
  font-size: x-large;
  margin-bottom: 50px;
  padding-top: 50px
}

.cast {
  font-size: large;
  margin-bottom: 20px;
}

.icons {
  margin-right: 15px;
  margin-left: 5px;
  cursor: pointer;
}

.votes {
  margin-left: 5px;
}

.icon-div {
  margin-top: 50px;
  padding-left: 175px;
}

.details-page {
  background-color: black;
}

.details-page * {
  color: white;
}

.pagination-style {
  padding-top: 30px;
  cursor: pointer;
}







